@using Controllers.Administration
@model TripRate.Models.ModelTrip

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<h3>Trips</h3>

@if (TripRateAdministration.ExistsUserLogged())
{
    <div>
        <a asp-action="RegisterTripReview">Register a trip review</a>
    </div>
}

@using (Html.BeginForm())
{
    <body>
        <div class="panel panel-primary">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(x => x.Title)</th>
                        <th>@Html.LabelFor(x => x.Description)</th>
                        <th>@Html.LabelFor(x => x.Localization)</th>
                    </tr>
                </thead>
                @foreach (var trip in ViewBag.QueryReviewTrips)
                {
                    <tr>
                        <td>@trip.Title</td>
                        <td>@trip.Description</td>
                        <td>@trip.Localization</td>
                        <td><input type="button" value="Details" /></td>
                    </tr>
                }
            </table>
        </div>
    </body>
}
<!-- colocar divs em um foreach para fazer o rosto da pagina > a imagem com o titulo juntamente com seus hoteis e etc-->
@using (Html.BeginForm())
{
    <body>
        <div class="panel panel-primary">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(x => x.Title)</th>
                        <th>@Html.LabelFor(x => x.Description)</th>
                        <th>@Html.LabelFor(x => x.Localization)</th>
                    </tr>
                </thead>
                @foreach (var trip in ViewBag.QueryReviewTrips)
                {
                    <tr>
                        <td>@trip.Title</td>
                        <td>@trip.Description</td>
                        <td>@trip.Localization</td>
                        <td><input type="button" value="Details" /></td>
                    </tr>
                }
            </table>
        </div>
    </body>
}