@model TripRate.Models.ModelUser


<h1>Register</h1>
@using (Html.BeginForm())
{
    <div>
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            <div>
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.TextBoxFor(x => x.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            <div>
                @Html.TextBoxFor(x => x.Password)
            </div>
        </div>

        <div class="form-text">
            <input class="btn-primary" type="submit" value="Confirm" asp-action="ConfirmUserRegister" />
        </div>
    </div>
}