@using Models.Enums
@using System.Web
@model TripRate.Models.ModelHotel

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjBuHsE_sHtclNAiW8K04yQthDTL-tDC0&callback=initAutoComplete"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjBuHsE_sHtclNAiW8K04yQthDTL-tDC0&libraries=places&callback=initAutoComplete"></script>

@using (Html.BeginForm())
{
    <body>
        <div>
            <div class="form-group">
                <div>@Html.LabelFor(x => x.HotelName)</div>
                @Html.TextBoxFor(x => x.HotelName)
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(x => x.HotelType)</div>
                @Html.DropDownListFor(x => x.HotelType, new SelectList(Enum.GetValues(typeof(HotelType))), "Select a Type")
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(x => x.Description)</div>
                @Html.TextBoxFor(x => x.Description)
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(x => x.ReservationPrice)</div>
                @Html.TextBoxFor(x => x.ReservationPrice, new { type = "number" })
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(x => x.Localization)</div>
                @Html.TextBoxFor(x => x.Localization, new { id = "textBoxLocalization", value = HttpUtility.ParseQueryString(Context.Request.QueryString.Value).Get("localization"), style = "width: 320px"})
            </div>
            <div>
                <input type="submit" value="Register" asp-action="RegisterHotel" />
            </div>
        </div>
    </body>
}

<script>
    initAutoComplete = () =>{
        var input = document.getElementById('textBoxLocalization');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>